:root {
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --main-bg-color: #fff;
  --color-for-hover: #404bbf;
  --logo-color: ;
  --color-grey: #f4f4fd;
  --color-btn-text: #4d5ae5;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  color: #434455;
  font-size: 16px;
  background-color: var(--main-bg-color);
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
input,
textarea {
  border: none;
  outline: none;
}
main {
  flex-grow: 1;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ===============Header================ */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.54px;
}
.logo-text {
  color: var(--secondary-text-color);
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: inline-block;
  padding: 24px 0;
  color: var(--secondary-text-color);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.32px;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.nav-link.active {
  color: var(--color-for-hover);
}
.nav-link.active:hover::after,
.nav-link.active:focus::after {
  background-color: var(--color-for-hover);
  color: var(--color-for-hover);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-for-hover);
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
}
.address-link {
  position: relative;
  display: inline-block;
  padding: 24px 0;
  color: var(--main-text-color);
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--color-for-hover);
}

.address-title:not(:last-child) {
  margin-right: 40px;
}
/* ===============/Header================ */

/* ================Hero================== */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 188px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* ================/Hero================== */

/* ================Company===============*/
.company {
  background-color: #fff;
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.company-img {
  display: flex;
  height: 112px;
  padding: 24px 0;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}

.company-item {
  width: calc((100% - 3 * 24px) / 4);
}
.company-list {
  display: flex;
  gap: 24px;
  justify-content: space-around;
}

.company-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--secondary-text-color);
}
.company-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* ================/Company===============*/

/* ================Team==================*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  margin-bottom: 72px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-around;
}
.team-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-description {
  padding: 32px 0;
}
.team-subtitle {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  margin-bottom: 8px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:active,
.social-list-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}
/* ================/Team==================*/
/* ================Portfolio============== */
.portfolio {
  padding: 120px 0;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
}
.portfolio-section-item {
  margin-bottom: 72px;
  color: var(--secondary-text-color);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-item {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay-block {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .portfolio-overlay-text,
.portfolio-item:focus .portfolio-overlay-text {
  transform: translateY(0%);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-btn-text);
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-description {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: left;
  font-weight: 400;
}

/* ================/Portfolio============== */

/* ================Footer==================*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}
.footer-container .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.footer-text {
  max-width: 264px;
  color: var(--color-grey);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.social-item {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--color-btn-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: var(--color-grey);
}

.subscribe-title {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.subscribe-input {
  margin-right: 24px;
  max-width: 100%;
  width: 264px;
  height: 40px;
  padding: 8px 0 8px 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em
}
.subscribe-input::placeholder {
  color: #fff;
}
.subscribe-input:focus {
  border-color: var(--color-btn-text);
}
/* .subscribe-block {
} */
.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-btn {
  display: flex;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px; 
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-btn-text);
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.subscribe-btn-icon {
  margin-left: 16px;
  vertical-align: middle;
}
.subscribe-btn:hover,
.subscribe-btn:hover {
  background-color: #31d0aa;
}

/* ================/Footer==================*/

/* ================Modal window=================== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(46, 47, 66, 0.40);
  opacity: 0; 
  pointer-events: none; 
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-open {
  opacity: 1;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #fcfcfc;
  width: 408px;
  min-height: 584px;
  max-width: 100%;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.modal-closed-btn {
  padding: 0px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: #e7e9fc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-closed {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-closed-btn:hover,
.modal-closed-btn:focus {
  background-color: #404bbf;
  border: none; 
  fill: #fff;
}
.modal-text {
  text-align: center;
  margin: 24px 0 16px 0;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.modal-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-content:last-child {
  margin-bottom: 16px;
}
.modal-label {
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.modal-input-block {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 0px 11px 38px;
  background-color: transparent;
  outline: transparent; 
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--color-btn-text);
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content.comment {
  margin-bottom: 16px
}
.modal-input:focus + .modal-icon {
  fill: var(--color-btn-text);
}
.modal-input.text {
  padding: 8px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent; 
  outline: transparent;
  resize: none;
}

.custom-checkbox {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
 .visually-hidden:checked + .label-custom-checkbox .checkbox{ 
  background-color: var(--color-for-hover);
  border: none;
  fill: #F4F4FD;
} 

.label-custom-checkbox {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.checkbox {
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent; 
}
.modal-policy-link {
  color: var(--color-btn-text);
  text-decoration: underline;
}

/* ================/Backdrop=================== */
